FlowFX/src/wsdl/localhost_8080/FlowFXWS/FlowFXWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.flowfxws.una.ac.cr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.flowfxws.una.ac.cr/" name="FlowFXWS">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.flowfxws.una.ac.cr/" schemaLocation="http://localhost:8080/FlowFXWS/FlowFXWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getPerson">
<part name="parameters" element="tns:getPerson"/>
</message>
<message name="getPersonResponse">
<part name="parameters" element="tns:getPersonResponse"/>
</message>
<message name="createPerson">
<part name="parameters" element="tns:createPerson"/>
</message>
<message name="createPersonResponse">
<part name="parameters" element="tns:createPersonResponse"/>
</message>
<message name="updatePerson">
<part name="parameters" element="tns:updatePerson"/>
</message>
<message name="updatePersonResponse">
<part name="parameters" element="tns:updatePersonResponse"/>
</message>
<message name="deletePerson">
<part name="parameters" element="tns:deletePerson"/>
</message>
<message name="deletePersonResponse">
<part name="parameters" element="tns:deletePersonResponse"/>
</message>
<message name="getAllPeople">
<part name="parameters" element="tns:getAllPeople"/>
</message>
<message name="getAllPeopleResponse">
<part name="parameters" element="tns:getAllPeopleResponse"/>
</message>
<message name="createProject">
<part name="parameters" element="tns:createProject"/>
</message>
<message name="createProjectResponse">
<part name="parameters" element="tns:createProjectResponse"/>
</message>
<message name="updateProject">
<part name="parameters" element="tns:updateProject"/>
</message>
<message name="updateProjectResponse">
<part name="parameters" element="tns:updateProjectResponse"/>
</message>
<message name="deleteProject">
<part name="parameters" element="tns:deleteProject"/>
</message>
<message name="deleteProjectResponse">
<part name="parameters" element="tns:deleteProjectResponse"/>
</message>
<message name="getProject">
<part name="parameters" element="tns:getProject"/>
</message>
<message name="getProjectResponse">
<part name="parameters" element="tns:getProjectResponse"/>
</message>
<message name="validateCredentials">
<part name="parameters" element="tns:validateCredentials"/>
</message>
<message name="validateCredentialsResponse">
<part name="parameters" element="tns:validateCredentialsResponse"/>
</message>
<portType name="FlowFXWS">
<operation name="getPerson">
<input wsam:Action="http://controller.flowfxws.una.ac.cr/FlowFXWS/getPersonRequest" message="tns:getPerson"/>
<output wsam:Action="http://controller.flowfxws.una.ac.cr/FlowFXWS/getPersonResponse" message="tns:getPersonResponse"/>
</operation>
<operation name="createPerson">
<input wsam:Action="http://controller.flowfxws.una.ac.cr/FlowFXWS/createPersonRequest" message="tns:createPerson"/>
<output wsam:Action="http://controller.flowfxws.una.ac.cr/FlowFXWS/createPersonResponse" message="tns:createPersonResponse"/>
</operation>
<operation name="updatePerson">
<input wsam:Action="http://controller.flowfxws.una.ac.cr/FlowFXWS/updatePersonRequest" message="tns:updatePerson"/>
<output wsam:Action="http://controller.flowfxws.una.ac.cr/FlowFXWS/updatePersonResponse" message="tns:updatePersonResponse"/>
</operation>
<operation name="deletePerson">
<input wsam:Action="http://controller.flowfxws.una.ac.cr/FlowFXWS/deletePersonRequest" message="tns:deletePerson"/>
<output wsam:Action="http://controller.flowfxws.una.ac.cr/FlowFXWS/deletePersonResponse" message="tns:deletePersonResponse"/>
</operation>
<operation name="getAllPeople">
<input wsam:Action="http://controller.flowfxws.una.ac.cr/FlowFXWS/getAllPeopleRequest" message="tns:getAllPeople"/>
<output wsam:Action="http://controller.flowfxws.una.ac.cr/FlowFXWS/getAllPeopleResponse" message="tns:getAllPeopleResponse"/>
</operation>
<operation name="createProject">
<input wsam:Action="http://controller.flowfxws.una.ac.cr/FlowFXWS/createProjectRequest" message="tns:createProject"/>
<output wsam:Action="http://controller.flowfxws.una.ac.cr/FlowFXWS/createProjectResponse" message="tns:createProjectResponse"/>
</operation>
<operation name="updateProject">
<input wsam:Action="http://controller.flowfxws.una.ac.cr/FlowFXWS/updateProjectRequest" message="tns:updateProject"/>
<output wsam:Action="http://controller.flowfxws.una.ac.cr/FlowFXWS/updateProjectResponse" message="tns:updateProjectResponse"/>
</operation>
<operation name="deleteProject">
<input wsam:Action="http://controller.flowfxws.una.ac.cr/FlowFXWS/deleteProjectRequest" message="tns:deleteProject"/>
<output wsam:Action="http://controller.flowfxws.una.ac.cr/FlowFXWS/deleteProjectResponse" message="tns:deleteProjectResponse"/>
</operation>
<operation name="getProject">
<input wsam:Action="http://controller.flowfxws.una.ac.cr/FlowFXWS/getProjectRequest" message="tns:getProject"/>
<output wsam:Action="http://controller.flowfxws.una.ac.cr/FlowFXWS/getProjectResponse" message="tns:getProjectResponse"/>
</operation>
<operation name="validateCredentials">
<input wsam:Action="http://controller.flowfxws.una.ac.cr/FlowFXWS/validateCredentialsRequest" message="tns:validateCredentials"/>
<output wsam:Action="http://controller.flowfxws.una.ac.cr/FlowFXWS/validateCredentialsResponse" message="tns:validateCredentialsResponse"/>
</operation>
</portType>
<binding name="FlowFXWSPortBinding" type="tns:FlowFXWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletePerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllPeople">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateCredentials">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FlowFXWS">
<port name="FlowFXWSPort" binding="tns:FlowFXWSPortBinding">
<soap:address location="http://localhost:8080/FlowFXWS/FlowFXWS"/>
</port>
</service>
</definitions>